.raleway {
    font-family: "Raleway", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.anek {
    font-family: "Anek Latin", sans-serif;
}

.nunito {
    font-family: "Nunito", sans-serif;
}
